<!-- header.html -->
<header class="main-header">
  <div class="container">
    <div class="logo-area">
      <a href = "index.html" class="logo-link">
        <img src="images/logo.png" alt="UrSaviour Logo" class="logo-img">
        <h1 class="site-title">UrSaviour</h1>
        </a>
    </div>
    <nav class="main-nav">
      <a href="index.html">Home</a>
      <a href="products.html">Products</a>
      <a href="watchlist.html">Watchlist</a>
      <a href="login.html" class="login-btn">Login</a>
    </nav>
  </div>
</header>
